include *.txt
include *.md
include *.pkl
recursive-include ./sd_model/*

include sd_model/data/merges.txt
include sd_model/data/v1-5-pruned-emaonly.ckpt
include sd_model/data/vocab.json
include sd_model/VERSION
include sd_model/config/base_config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]